body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, url('stars-1837306_1920.jpg') 0%, url('stars-1837306_1920.jpg') 50%, rgb(3, 2, 24) 50%, rgb(3, 2, 24) 100%);
	background-size: cover;
    font-family: 'Josefin Sans', sans-serif;
	}