nav {
	background-color: #0c4b68;
    overflow: hidden;
    margin-top: 100px;
    }

nav a {
	float: center;
    color: white;
    padding: 10px 15px;
    font-family: monospace;
    text-decoration: none;
	}
    
nav a:hover {
	background-color: #6191a1;
	}
    
nav t {
	background-color: white;
    color: #0c4b68;
    border-style: outset;
   	font-family: monospace;
  	font-size: 20px;
  	font-weight: bold;
  	padding: 10px 10%;
	}

@media (max-width: 768px) {
  .container {
      width: 100%;
      padding: 25px;
  }
}